@use "./base/reset.scss";

@use './settings/fonts' as *;
@use './settings/colors' as *;
@use './settings/functions' as *;
@use './settings/mixins' as *;
@use './settings/containers' as *;

@use './components/button';
@use './components/burger';

@use './blocks/header/index';

body {
  font-family: $ff-inter;
  font-size: 1rem;
}

.container {
  width: min(100% - rem(33), rem($w_1600));
  margin: 0 auto;
}